{% load static %}
<style xmlns="http://www.w3.org/1999/html">
    .basket-container {
        position: relative;
    }

    .basket-image {
        position: absolute;
        top: -20px;
        right: 0;
    }
</style>

<div class="content-container">
    <div class="container">
        {% for category in categories_page %}
            <div class="block">
                <a href="{% url 'languages:category' category.id %}" class="button">
                    <h3>{{ category.name }}</h3>
                    {% if category.image %}
                        <img src="{{ category.image.url }}" alt="{{ category.title }}" width="100px" height="100px">
                    {% else %}
                        No image available
                    {% endif %}

                   <div style="text-align: left;" class="inline">
                        <p style="display: inline-block; margin: 0;">
                            Количество просмотров: <strong>{{ category.views }}</strong>
                        </p>
                    </div>

                    <a href="{% url 'basket:add_to_basket' category.id %}">
                        <div class="basket-container">
                            <img src="{% static 'image/basket.png' %}" width="30" height="30" class="basket-image" alt="Basket Image">
                        </div>
                    </a>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
