{% extends 'languages/base.html'%}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>

<br><br><br>

<style>
#main {
    background-color: #f2f2f2;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 4px solid #ddd;
    min-height: 400px; /* Set a minimum height for the header */
}

#real-estates-detail #author img {
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
    -ms-border-radius: 80%;
    -o-border-radius: 80%;
    border-radius: 80%;
    border: 5px solid #ecf0f1;
    margin-bottom: 10px;
}

#real-estates-detail .sosmed-author i.fa {
    width: 30px;
    height: 30px;
    border: 2px solid #bdc3c7;
    color: #bdc3c7;
    padding-top: 6px;
    margin-top: 10px;
}

.panel-default .panel-heading {
    background-color: #fff;
}

#real-estates-detail .slides li img {
    height: 450px;
}
</style>
<body style="background-image: url('/static/image/super_font_4.jpg')">
<div class="container">
<div id="main" style="margin-top: 0px;">
 <div class="row" id="real-estates-detail">
 <div class="col-lg-4 col-md-4 col-xs-12">
 <div class="panel panel-default">
 <div class="panel-heading">
 <header class="panel-title">
 <div class="text-center">
 <strong>Пользователь сайта</strong>
 </div>
 </header>
 </div>
 <div class="panel-body">
 <div class="text-center" id="author">
 {% if not user.image %}
   <img src="{% static 'image/user_account/default_avatar.jpg' %}" width="200px" height="200px">
 {% else %}
   <img src="{{ user.image.url }}" width="200px" height="200px">
 {% endif %}
 <h3>{{ user.first_name }} {{ user.last_name }}</h3>
 <small class="label label-warning">{{ country }}</small>
 <p>Я простой пацан</p>
 <p class="sosmed-author">
 <a href="{{ full_address_instagram }}"><i class="fa fa-instagram" title="Instagram"></i></a>
 <a href="{{ full_address_facebook }}"><i class="fa fa-facebook" title="Facebook"></i></a>
 <a href="{{ full_address_email }}"><i class="fa fa-envelope" title="Google Plus"></i></a>
 <a href="{{ full_address_linkedin }}"><i class="fa fa-linkedin" title="Linkedin"></i></a>
   <div class="actions">
    <a href="{% url 'users:edit_account' %}"><button class="button">Изменить профиль</button></a>
  </div>
 </div>
 </div>
 </div>
 </div>

 <div class="col-lg-8 col-md-8 col-xs-12">
 <div class="panel">
 <div class="panel-body">
 <ul id="myTab" class="nav nav-pills">
 <li class="active"><a href="#detail" data-toggle="tab">О пользователе</a></li>
 <li class="active"><a href="#contact" data-toggle="tab">Отправить сообщение</a></li>
 <li class="active"><a href="{% url 'paid_lessons:add_paid_lesson' request.user.id%}">Создать новый курс</a></li>
 <li class="active"><a href="{% url 'paid_lessons:list_paid_lesson' request.user.id %}">Мои курсы</a></li>
 <li class="active"><a href="{% url 'users:paid_card_and_free_basket' %}">Мои корзины</a></li>
 <li class="active"><a href="{% url 'orders:orders_list' %}">История моих заказов</a></li>
 </ul>
 <div id="myTabContent" class="tab-content">
<hr>
 <div class="tab-pane fade active in" id="detail">
 <h4>История профиля</h4>
 <table class="table table-th-block">
 <tbody>
 <tr><td class="active">Зарегистрирован:</td><td>{{ user.registered }}</td></tr>
 <tr><td class="active">Последняя активность:</td><td>12-06-2016 / 09:11</td></tr>
 <tr><td class="active">Страна:</td><td>{{ user.country }}</td></tr>
 <tr><td class="active">Город:</td><td>{{ user.city }}</td></tr>
 <tr><td class="active">Пол:</td><td>{{ user.person_gender }}</td></tr>
 <tr><td class="active">Полных лет:</td><td>{{ user.age }}</td></tr>
 <tr><td class="active">Семейное положение:</td><td>{{ user.family_status }}</td></tr>
 <tr><td class="active">Рейтинг пользователя:</td><td><i class="fa fa-star" style="color:red"></i> <i class="fa fa-star" style="color:red"></i> <i class="fa fa-star" style="color:red"></i> <i class="fa fa-star" style="color:red"></i> 4/5</td></tr>
 <tr><td class="active">Плагин рейтинга:</td><td><a href="https://bootstraptema.ru/stuff/plugins_bootstrap/improvement/bootstrap_star_rating/12-1-0-73" target="_blank">http://goo.gl/bGGXuw</a></td></tr>
 <tr><td class="active">Опыт разработки:</td><td>{{ user.experience }}</td></tr>
 <tr><td class="active">Обо мне:</td><td>{{ user.self_about }}</td></tr>
</tbody>
 </table>
 </div>
 <div class="tab-pane fade" id="contact">
 <p></p>
 <form role="form">
 <div class="form-group">
 <label>Ваше имя</label>
 <input type="text" class="form-control rounded" placeholder="Укажите Ваше Имя">
 </div>
 <div class="form-group">
 <label>Ваш телефон</label>
 <input type="text" class="form-control rounded" placeholder="(+7)(095)123456">
 </div>
 <div class="form-group">
 <label>E-mail адрес</label>
 <input type="email" class="form-control rounded" placeholder="Ваш Е-майл">
 </div>
 <div class="form-group">
 <div class="checkbox">
 <label>
 <input type="checkbox"> Согласен с условиями
 </label>
 </div>
 </div>
 <div class="form-group">
 <label>Текст Вашего сообщения</label>
 <textarea class="form-control rounded" style="height: 100px;"></textarea>
 <p class="help-block">Текст сообщения будет отправлен пользователю</p>
 </div>
 <div class="form-group">
 <button type="submit" class="btn btn-success" data-original-title="" title="">Отправить</button>
 </div>
 </form>
 </div>
 </div>
 </div>
 </div>
 </div>
 </div>
</div>
</div>
</body>
<br>
<br>
<br>
<br>
{% endblock content %}




